<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box-a">A</div>
        <div class="box-b">
            <div class="b1">B</div>
            <div class="b2">C</div>
        </div>
        <div class="box-c">
            <div class="c1">D</div>
            <div class="c2">E</div>
            <div class="c3">E</div>
        </div>
        <div class="box-e">B</div>

    </div>
</body>
</html>